*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Modeseven;
  src: url(font/Modeseven.ttf) format("truetype");
}

body {
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
  text-shadow: 0 0 10px #ccc;
  font-family: "Modeseven";
  min-height: 100vh;
}

.navbar {
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3%;
  width: 100%;
  font-size: 12px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.navbar-menu {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 4.7em;
  max-width: 22em;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 7px 1px #fff;
  box-shadow: 1px 1px 7px 1px #fff;
}

.navbar-menu-item {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-decoration: none;
}

.navbar-menu-item-label,
.navbar-menu-item i {
  margin: 4px;
  font-size: 2em;
  color: #888;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  pointer-events: none;
}
.navbar-menu-item-label {
  font-size: 0.7em;
  margin-top: 0;
}
.navbar-menu-item:hover i,
.navbar-menu-item:hover .navbar-menu-item-label,
.active > i,
.active > .navbar-menu-item-label {
  color: #333;
  font-weight: 900;
}

#page {
  scroll-behavior: smooth;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
}

.page-panel {
  flex: 0 0 100vw;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  display: grid;
  justify-items: center;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}
.header {
  font-size: 1.5rem;
}
.header,
.todo-form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-form .todo-input,
button {
  color: #333;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  font-family: "Modeseven";
}

button {
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todo-filter {
  -webkit-appearance: none;
  -woz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 1rem;
  background: white;
  font-family: "Modeseven";
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  color: #333;
  background: white;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:active::after,
button:active {
  color: white;
  background: #333;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.todo-list {
  width: 100%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: #333;
  font: size 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  transition: all 0.5s ease;
}
.todo:active {
  -webkit-box-shadow: 1px 1px 7px 1px #fff;
  box-shadow: 1px 1px 7px 1px #fff;
  transform: scale(1.01);
  z-index: 1;
}
.todo .todo-item {
  flex: 1;
  padding: 0 0.5rem;
}
.completed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  opacity: 0.5;
  border: 1px solid hsl(120, 70%, 45%);
  filter: blur(0.7px);
}
.todo-item {
  overflow-x: auto;
}
.trash-btn,
.complete-btn {
  color: white;
  background: #333;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  pointer-events: auto;
}
.trash-btn:active {
  color: hsl(0, 70%, 45%);
}
.completed-btn {
  color: hsl(120, 70%, 45%);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .todo-form {
    min-height: 10vh;
    flex-direction: column;
    width: 100vw;
  }
  .todo-input,
  .todo-container {
    width: 85%;
  }
  .input-container,
  .todo-container,
  .select {
    margin: 0.5rem 2rem;
  }
  .todo-filter {
    width: 100%;
  }
  .select {
    width: 60%;
  }
}

.btn-container {
  width: 10rem;
}
.new-note {
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid #fff;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  font-size: 0.8rem;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  position: relative;
  background-color: #fff;
  color: #333;
  margin: auto;
  -webkit-box-shadow: 1px 1px 7px 1px #fff;
  box-shadow: 1px 1px 7px 1px #fff;
  width: clamp(18.75rem, 50vw, 43.75rem);
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.1s;
  animation-name: fadein;
  animation-duration: 0.1s;
}

.save-note,
.delete-note,
#camera {
  font-size: 1em;
  border-radius: 0.5em;
}
.save-note:active {
  color: hsl(120, 70%, 45%);
  background: white;
}
.delete-note:active {
  color: hsl(0, 70%, 45%);
  background: white;
}
.modal-close {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  font-size: 3rem;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header,
.modal-footer {
  padding: 1rem;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
}
.modal-body {
  min-height: 60vh;
  padding: 1rem;
  overflow-y: auto;
}
#note-input {
  outline: 0;
  padding-bottom: 1rem;
}
#note-title-input {
  outline: 0;
}

#note-image div {
  position: relative;
}
#note-image div > img {
  margin: 0.125rem;
  width: 100%;
  padding: 0.5rem;
  border: 0.075rem solid #333;
  background-color: #fff;
}
#note-image div > span {
  position: absolute;
  right: 0.7rem;
  top: 0.3rem;
  font-size: 2.2rem;
  font-weight: bold;
}

.note-container {
  padding: 1rem;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.note {
  margin: 1rem;
  background-color: #fff;
  color: #333;
  width: 20rem;
  min-height: 30vh;
  cursor: pointer;
  position: relative;
}
.note-head {
  font-size: 1.5rem;
  font-weight: 800;
}
.note-head,
.note-body {
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 1rem;
  pointer-events: none;
}
.note-body {
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
.note-body p {
  display: content;
}
.note-image {
  position: absolute;
  font-size: 1em;
  padding: 2px;
  color: #333;
  bottom: 1rem;
  left: 1rem;
}
